.wrap {
  padding: 15px;
  text-align: center;
}
.result {
  &__text {

  }
}
.result-list {
  border-top: solid 2px;
  &__item {
    padding: 10px;
    &:nth-child(even) {
      background: #f0f0f0;
    }
  }
}
.fade-enter-from {
  opacity: 0;
}
.fade-enter-active {
  transition: all 0.5s ease;
}
.fade-enter-to {
  opacity: 1;
}